.Body-Container {
    flex: 10;
    /* background-color: red; */
    /* min-height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Mode-Toggle {
    width: 400px;
    height: 50px;
    /* background-color: blue;   */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  
  .Mode-Toggle-Button {
    width: 45%;
    height: 100%;
    /* background-color: red;   */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1.5vmin);
    color: #071330;
    border: solid #214358;
    border-width: 2px;
    border-radius: 12px;
    cursor:pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
    
  }
  
.Table-And-Filters {
  width: 100%;
  height: 80%;
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}
  
.Table-Container {
  width: 900px;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
} 

.Filters-Container {
  width: 300px;
  height: 500px;
  background-color: #214358;
  border-radius: 10px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

}

.Filters-Title {
  color: white;
}

.Subtitle {
  color: white;
  margin-left: 10px;
}

.Service-Filter {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  
}

.Service-Button{
  width: 100%;
  height: 14.2%;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  

}

.Service-Name{
  font-size: calc(20px);
  margin-left: 20px;
}

.Service-Box {
  width: 20px;
  height: 20px;
  border: solid #328800;
  border-width: 2px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 20px;


}

.Service-Box-On {
  width: 13px;
  height: 13px;
  background-color: #328800;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Cost-Selector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: medium;
  margin-left: 15px;

}


.Date-Selector {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
  margin-left: 15px;

}


.Date-Time-Picker {
  background-color: white;
}